.gallery-tile {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(0.95);
    height: 200px;
    transition: filter 0.1s;
    width: 200px;
}
.gallery-tile:hover {
    filter: brightness(1);
}
.gallery-tile--video {
    height: 100%;
    width: 100%;
}
.gallery-tile--overlay-gradient {
    background: -moz-radial-gradient(center, ellipse cover,  rgba(13,11,13,0) 0%, rgba(13,11,13,0) 76%, rgba(13,11,13,0.22) 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(13,11,13,0) 0%,rgba(13,11,13,0) 76%,rgba(13,11,13,0.22) 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center,  rgba(13,11,13,0) 0%,rgba(13,11,13,0) 76%,rgba(13,11,13,0.22) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000d0b0d', endColorstr='#380d0b0d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    left: 0;
    top: 0;
}
