.Home--board {
  position: relative;
  width: 50%;
}
.Home--board--files--file:nth-child(odd) .Home--board--files--file--rank:not(.selected):nth-child(even) {
  background: #769656;
}
.Home--board--files--file:nth-child(odd) .Home--board--files--file--rank:not(.selected):nth-child(odd) {
  background: #eeeed2;
}
.Home--board--files--file:nth-child(even) .Home--board--files--file--rank:not(.selected):nth-child(odd) {
  background: #769656;
}
.Home--board--files--file:nth-child(even) .Home--board--files--file--rank:not(.selected):nth-child(even) {
  background: #eeeed2;
}
.Home--board--files--file--rank.selected {
  background: #f6f671;
}
.Home--board--files--file {
  width: 12.5%;
}
.Home--board--files--file--rank {
  height: 0;
  padding-bottom: 100%;
  position: relative;
}
.Home--board--files--file--rank--square-coordinate {
  cursor: none;
  font-weight: bold;
  font-size: 0.7rem;
  left: 5%;
  opacity: 0.4;
  position: absolute;
  text-transform: uppercase;
  top: 0;
}

.Home--board--pieces--piece {
  left: 0;
  position: absolute;
  top: 0;
  transition: left 0.1s ease-out, top 0.1s ease-out;
  width: 12.5%;
}
