.Home--board {
  border: 2px solid black;
  position: relative;
  width: 50%;
}
.Home--board--files--file:nth-child(odd) .Home--board--files--file--rank:not(.selected):nth-child(even) {
  background: #769656;
}
.Home--board--files--file:nth-child(odd) .Home--board--files--file--rank:not(.selected):nth-child(odd) {
  background: #eeeed2;
}
.Home--board--files--file:nth-child(even) .Home--board--files--file--rank:not(.selected):nth-child(odd) {
  background: #769656;
}
.Home--board--files--file:nth-child(even) .Home--board--files--file--rank:not(.selected):nth-child(even) {
  background: #eeeed2;
}
.Home--board--files--file--rank.selected {
  background: #f6f671;
}
.Home--board--files--file {
  width: 12.5%;
}
.Home--board--files--file--rank {
  display: flex;
  justify-content: center;
  height: 0;
  padding-bottom: 100%;
  position: relative;
}
.Home--board--files--file--rank--square-coordinate {
  cursor: default;
  font-size: 0.7em;
  font-weight: bold;
  opacity: 0.4;
  position: absolute;
  text-transform: uppercase;
  transform: translateY(-50%);
  top: 50%;
  width: 100%;
}
.Home--board--files--file--rank--square-coordinate::first-letter {
  font-size: 1rem;
}
.Home--board--files--file--rank--legal-move-marker {
  background: rgba(0, 0, 0, .1);
  border-radius: 100%;
  height: 32%;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  visibility: hidden;
  width: 32%;
}
.Home--board--files--file--rank.legal-move .Home--board--files--file--rank--legal-move-marker {
  visibility: visible;
}
.Home--board--files--file--rank.legal-move .Home--board--files--file--rank--square-coordinate {
  opacity: 1;
}


.Home--board--pieces--piece {
  left: 0;
  position: absolute;
  top: 0;
  transition: left 0.1s ease-out, top 0.1s ease-out;
  width: 12.5%;
}
